<style>
    :host {
        display: inline-block;
    }

    * {
        box-sizing: border-box;
    }

    .button {
        background: transparent;
        padding: 0;
        margin: 0;
        border: none;
        display: flex;
        align-items: center;
        height: 24px;
    }

    .outer {
        background: #b1cee7;
        width: 30px;
        height: 15px;
        border-radius: 45px;
        border: none;
        margin-left: 12px;
        margin-right: 12px;
        display: flex;
        align-items: center;
    }

    .inner {
        display: block;
        background: #26547C;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);

        transform: translateX(18px);
        transition: transform 0.5s ease, background 0.5s ease;
    }

    .disabled > div {
        transform: translateX(-12px) !important;
        background: darkgray;
    }

    .disabled {
        background: lightgray;
    }
</style>

<button class="button" data-js="outer">
    <div class="outer disabled" data-js="inner">
        <div class="inner"></div>
    </div>
</button>

