<style>
    :host {
        display: inline-block;
    }

    * {
        box-sizing: border-box;
    }

    .outer {
        background: lightgray;
        width: 70px;
        height: 30px;
        border-radius: 45px;
        border: none;
        padding: 0;
    }

    .inner {
        display: block;
        background: green;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        transform: translateX(40px);
        transition: transform 0.5s ease, background 0.5s ease;
        margin-left: 3px;
    }

    .disabled {
        transform: translateX(0) !important;
        background: darkgray;
    }
</style>

<button class="outer" data-js="outer">
    <span class="inner disabled" data-js="inner"></span>
</button>

