service firebase.storage {
  match /b/{bucket}/o {
    match /transformed/{allPaths=**} {
      allow write: if false;
      allow read: if true;
    }
  }
}
