<style>
    :host {
        display: inline-block;
    }

    .description {
        height: 40px;
        display: flex;
        align-items: center;
    }

    .image-description {
        flex-grow: 1;
    }

    .like-button {
        border: none;
        background-color: transparent;
    }

    .image {
        vertical-align: middle;
        width: 100%;
        height: auto;
    }

    /*noinspection CssUnusedSymbol*/
    .liked {
        fill: #06e900;
    }
</style>

<a is="app-link" data-js="detail-link">
    <div class="image-container">
        <img class="image" src="../../assets/dummy.png" alt="this is a dummy image"/>
    </div>
</a>

<div class="description">
    <span class="image-description">
        this is an image
    </span>
    <app-like-button data-js="like-button"></app-like-button>
    <span data-js="like-amount">23</span>
</div>

