<style>
    :host {
        display: inline-block;
        --card-border-radius: 5px;
    }

    .card {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: var(--card-border-radius);
        background: white;
    }

    .card-image img {
        vertical-align: middle;
        width: 100%;
        height: auto;
        border-top-left-radius: var(--card-border-radius);
        border-top-right-radius: var(--card-border-radius);
    }

    .card-description {
        height: 48px;
        display: flex;
        align-items: center;
    }

    .image-description {
        flex-grow: 1;
        margin-left: 8px;
    }
</style>

<div class="card">
    <div class="card-image">
        <a is="app-link" data-js="detail-link">
            <img data-js="image"  src="https://images.pexels.com/photos/259803/pexels-photo-259803.jpeg?cs=srgb&dl=adorable-animal-animal-photography-259803.jpg&fm=jpg" alt="Cat image"/>
        </a>
    </div>
    <div class="card-description">
        <span class="image-description" data-js="image-description">
            this is an
        </span>
        <app-like-button data-js="like-button"></app-like-button>
    </div>

</div>
