<style>
    :host {
        display: inline-block;
    }

    .description {
        height: 48px;
        display: flex;
        align-items: center;
    }

    .image-description {
        flex-grow: 1;
    }

    .image {
        vertical-align: middle;
        width: 100%;
        height: auto;
    }
</style>

<a is="app-link" data-js="detail-link">
    <div class="image-container">
        <img class="image" src="../../assets/dummy.png" alt="this is a dummy image"/>
    </div>
</a>

<div class="description">
    <span class="image-description" data-js="image-description">
        this is an
    </span>
    <app-like-button data-js="like-button"></app-like-button>
</div>

