<style>
    :host {
        padding: 20px;
        display: block;
    }

    .settings-row {
        display: flex;
        align-items: center;
    }

    li {
        list-style-type: none;
    }
</style>

<h2>Lorem ipsum</h2>
<div class="settings-row">
    <p style="margin-right: 10px;">Pride-Modus</p>
    <app-switch></app-switch>
</div>
<div class="settings-row">
    <p style="margin-right: 10px;">Nacht-Modus</p>
    <app-switch></app-switch>
</div>


<h2>Lorem ipsum</h2>
<p>Brownie pastry danish pudding. Cookie chocolate bar gingerbread icing lollipop apple pie. Cupcake gummi bears icing
    chocolate bar. Sugar plum candy canes tootsie roll chupa chups chocolate cake muffin sweet biscuit. Pudding wafer
    gummies jelly cupcake gingerbread sweet gummies jelly.</p>
<p>Sesame snaps brownie sesame snaps. Donut cookie dragée. Danish pastry muffin ice cream gummi bears carrot cake ice
    cream. Jelly halvah sweet roll cake sweet apple pie gummies macaroon. Biscuit lollipop caramels biscuit. Wafer
    gingerbread tiramisu jelly biscuit lemon drops dessert pie. Sesame snaps cake gingerbread macaroon. Tiramisu wafer
    gummi bears. Chupa chups pie chocolate bar tiramisu cake gummi bears dragée.</p>
<p>Danish chupa chups chocolate toffee lollipop ice cream. Oat cake halvah pastry tootsie roll toffee caramels biscuit
    cupcake pudding. Jelly beans chocolate cake marzipan cake. Pastry topping tootsie roll bonbon sweet chocolate
    cake.</p>
<div>
    Icons made by:
    <ul>
        <li><a href="https://www.freepik.com/" title="Freepik">Freepik</a></li>
        <li><a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a></li>
        <li><a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a></li>
        <li><a href="https://www.flaticon.com/authors/cole-bemis" title="Cole Bemis">Cole Bemis</a></li>        
    </ul>
    from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    License:
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
