<style>
    :host {
        padding: 20px;
        display: block;
    }

    .settings-row {
        display: flex;
        align-items: center;
    }

    li {
        list-style-type: none;
    }
</style>

<h2>Farbschema ändern</h2>
<div class="settings-row">
    <p style="margin-right: 10px;">Pride-Modus</p>
    <app-switch data-js="prideSwitch"></app-switch>
</div>
<div class="settings-row">
    <p style="margin-right: 10px;">Nacht-Modus</p>
    <app-switch data-js="darkSwitch"></app-switch>
</div>
<h2>Rechtliches</h2>
<div>
    Icons made by:
    <ul>
        <li><a href="https://www.freepik.com/" title="Freepik">Freepik</a></li>
        <li><a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a></li>
        <li><a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a></li>
        <li><a href="https://www.flaticon.com/authors/cole-bemis" title="Cole Bemis">Cole Bemis</a></li>        
    </ul>
    from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    License:
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
