<style>
    :host {
        padding: 20px;
        display: block;
    }
</style>


<div>Icons made by <a
        href="https://www.freepik.com/?__hstc=57440181.a9d2712536deed29f1c6f03f0ddc915d.1559762770847.1559762770847.1559762770847.1&__hssc=57440181.2.1559762770848&__hsfp=3195407510"
        title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is
    licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
        3.0 BY</a></div>