:root {
    /*Colors*/
    --primary-color: #26547C;
    --primary-color-light: #b1cee7;
    --pride-color-gradient: linear-gradient(
            #d04b36 0%,
            #d04b36 16.6666%,
            #e36511 16.6666%,
            #e36511 33.333%,
            #ffba00 33.333%,
            #ffba00 50%,
            #00b180 50%,
            #00b180 66.6666%,
            #147aab 66.6666%,
            #147aab 83.3333%,
            #675997 83.3333%,
            #675997 100%);

    /*Shadows*/
    --shadow-depth-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-depth-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --shadow-depth-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --shadow-depth-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --shadow-depth-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    /*Fonts*/
    --primary-font: Arial, Helvetica, sans-serif;
}
